<template>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-6 content is-large">
            <h1>Counta: {{ num }}</h1>
          </div>
          <div class="column is-3">
            <a @click="Increment()" class="button is-fullwidth is-medium">+</a>
          </div>
          <div class="column is-3">
            <a @click="Decrement()" class="button is-fullwidth is-medium">-</a>
          </div>
        </div>

      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Vue } from "vue-class-component";

export default class Game extends Vue {
  num = 0;

  Increment() {
    this.num++;
  }

  Decrement() {
    this.num--;
  }
}
</script>